{"filter":false,"title":"requirements.txt","tooltip":"/oddsare/requirements.txt","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":7,"column":0},"end":{"row":14,"column":0},"action":"insert","lines":["flask","sqlalchemy","flask-login","flask-script","flask-migrate","mistune","psycopg2",""],"id":2,"ignore":true}],[{"start":{"row":0,"column":0},"end":{"row":6,"column":8},"action":"remove","lines":["flask","sqlalchemy","flask-login","flask-script","flask-migrate","mistune","psycopg2"],"id":3}],[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["",""],"id":4}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1451241226221,"hash":"cf6bcdd491480572baaf4af5fe08f62e7457ee1f"}