{"filter":false,"title":"requirements.txt","tooltip":"/rps/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1450556167613,"hash":"cf6bcdd491480572baaf4af5fe08f62e7457ee1f"}